<div class="container  my-5">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="productForm"(ngSubmit)="submitProductForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Product Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="productName" required>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Product Quantity</label>
                            <input type="number" class="form-control" id="typeNumber" formControlName="productQunatity">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Product Price</label>
                            <input type="" class="form-control" id="typeNumber" aria-describedby="emailHelp"
                                formControlName="productPrice">

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Company Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1"
                                formControlName="companyName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="tag"> Select-Color </label>
                            <select name="selectColor" class="form-control selectColor" id="" placeholder="selectColor"
                                formControlName="color">
                                <option *ngFor="let item of color">{{item}}</option>
                            </select>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <label for="" class="tag">Select Size</label>
                        <div class="mb-3">
                            <ng-container *ngFor="let item of sizes">
                                <input type="checkbox" class="form-check-input" [name]="item" [value]="item" [id]="item"
                                    (click)="getsizes($event)" />
                                <label class="form-check-label mx-2" [for]="item">
                                    {{item}}
                                </label>
                            </ng-container>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Choose Image</label>
                            <input #FileSelect class="form-control input" type="file" id="formFile" multiple
                                (change)="getimages($event)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">

                            <label for="" class="tag mb-2">Select Categories</label>
                            <select class="form-select input" formControlName="category">
                                <option *ngFor="let data of categories" [value]="data">{{data}}</option>
                            </select>


                        </div>
                    </div>
                </div>
                <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary w-100">Submit</button>

            </form>
        </div>
    </div>
</div>